apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-wordpress
  labels:
    app.kubernetes.io/name: wordpress
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: wordpress
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: wordpress
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      containers:
        - name: wordpress
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 80
          env:
            - name: WORDPRESS_DB_HOST
              value: "{{ .Values.mysql.host }}:{{ .Values.mysql.port }}"
            - name: WORDPRESS_DB_NAME
              value: "{{ .Values.mysql.database }}"
            {{- if .Values.createSecret }}
            - name: WORDPRESS_DB_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-wp-db
                  key: username
            - name: WORDPRESS_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-wp-db
                  key: password
            {{- else }}
            - name: WORDPRESS_DB_USER
              value: "{{ .Values.mysql.username }}"
            - name: WORDPRESS_DB_PASSWORD
              value: "{{ .Values.mysql.password }}"
            {{- end }}
